<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form action="">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username"/>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password"/>
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary"></button>
        </form>
    </mat-card-content>
</mat-card>